/* common css start */
* {
	margin: 0;
	padding: 0;
	outline: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul,
ol {
	list-style: none;
}
img {
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
	padding: 0;
}
.body {
	font-family: "Source Sans Pro", sans-serif;
}
.section_head h2 {
	font-size: 38px;
	line-height: 42px;
	font-weight: 600;
	color: #32363b;
	padding-top: 90px;
}
.section_head h3 {
	font-size: 23px;
	font-weight: 400;
	color: #5e6065;
	line-height: 30px;
	padding: 25px 0;
}
.btn {
	background-color: #02b159;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	line-height: 32px;
	padding: 12px 43px;
	margin-top: 20px;
}
.btn a {
	padding-left: 4px;
	color: #fff;
}
.btn i {
	font-size: 23px;
}
.btn:hover {
	text-decoration: none;
	color: white;
	background-color: #32363b;
}
/* common css end */

/* menu css start */
.menu_part ul li a {
	color: #32363b;
	font-size: 16px;
	font-weight: 600;
}
.menu_part ul li a {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.menu_part ul li {
	padding-left: 25px;
}
/*Menu css end */

/*Banner css start */
/* #banner .container {
	width: 1300px !important;
} */
#banner .container,
.footer .container,
#account .container {
	max-width: 1280px;
}
#banner {
	background-color: #32363b;
	padding: 50px 45px;
	/* width: 1280px; */
}
.banner_style {
	background-color: #f2f2f7;
	border-radius: 10px 0 0 10px;
	padding: 120px 75px 0;
}
.banner_text h1 {
	font-size: 60px;
	font-weight: 600;
	line-height: 68px;
	color: #32363b;
}
.banner_text h4 {
	color: #00b259;
	font-size: 22px;
	font-weight: 600;
	line-height: 32px;
	padding-bottom: 30px;
}
.banner_button {
	width: 287px;
	padding-bottom: 10px;
}
.banner_button h2 {
	font-weight: 600;
	font-size: 32px;
	line-height: 36px;
	color: #32363b;
}
.link_style {
	background-color: #ffffff;
	border-radius: 0 10px 10px 0;
	padding: 120px 75px 0;
}
.github {
	background-color: #d9dbe1;
	padding-left: 98px;
	padding-right: 97px;
}
.email {
	padding-left: 104px;
	padding-right: 104px;
}
.github:hover {
	background-color: #ededf4;
}
.github i,
.github a {
	color: #a4a5a7;
}
.github:hover a,
.github:hover i {
	text-decoration: none;
	color: #5e6065;
}
.terms p {
	color: #5e6065;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	background-color: #fff;
	padding-top: 10px;
}
.money_back {
	padding: 30px 0;
}
.money_back span {
	color: #808080;
}
/*Banner css end */

/* About css start */
#about .btn {
	padding: 12px 0;
}
.fixed_text {
	font-size: 13px;
	font-weight: 400;
	color: #838489;
}
.two_btn {
	margin: 55px 0 100px;
}
.progress {
	height: 2rem;
	overflow: hidden;
	font-size: 0.75rem;
	background-color: #ffffff;
	border-radius: 0.25rem;
}
.progress-bar {
	width: 0;
	color: #000000;
	text-align: right;
	background-color: #2cb35a;
	transition: width 0.8s ease;
	animation: progress 3.5s ease-in-out forwards;
	border-radius: 5px;
}
.title {
	opacity: 0;
	animation: show 0.35s forwards ease-in-out 0.5s;
}
@keyframes progress {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/*About css end */

/*Quote css start */
#quote {
	background-color: #32363b;
}
.quote_text h1 {
	font-size: 44px;
	font-weight: 400;
	line-height: 50px;
	color: #fff;
	padding: 120px 0 45px;
}
.quote_text p {
	color: #fff;
	font-size: 18px;
	padding-bottom: 80px;
}
/*Quote css end */

/*Service css start */
#service,
#package {
	background-color: #fafafc;
}
/*Service css end */

/*Package css start */
#package {
	padding-bottom: 80px;
}
#package p {
	padding: 27px 0;
	font-size: 16px;
	font-weight: 400;
}
.icon {
	padding-left: 0 !important;
	padding: 20px 0;
}
.icon img {
	height: 38px;
}
/*Package css end */

/*Market css start */
.Oswald p {
	font-family: Oswald;
	font-size: 18px;
	font-weight: 400;
}
.map {
	margin: 75px 0;
}
/*Market css end */

/*Account css start */
#account {
	background-color: #32363b;
	padding: 50px;
}
.account_img img {
	border-radius: 8px 0 0 8px;
	width: 100%;
	height: 100%;
}
.account_text {
	background-color: #ffffff;
	border-radius: 0 8px 8px 0;
}
.account_text h2 {
	padding-top: 60px;
}
.account_text .btn {
	margin: 40px 0 20px;
}
.account_text p {
	font-size: 14px;
	color: #8080a1;
}
/*Account css end */

/*FAQ css start */
#FAQ {
	background-color: #32363b;
	color: #fff;
	padding-bottom: 100px;
}
#FAQ h2 {
	color: #fff;
}
.faq_head h2 {
	padding-top: 50px;
	padding-bottom: 15px;
	font-size: 32px;
	font-weight: 600;
	line-height: 36px;
}
.faq_text {
	background-color: #3b3f44;
	padding: 35px;
	border-radius: 8px;
	height: 100%;
}
.faq_text h3 {
	font-size: 24px;
	font-weight: 600;
	line-height: 28px;
	padding-bottom: 20px;
}
.faq_text h4 {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}
.faq_text a {
	color: #fff;
}
/*FAQ css end */

/*Footer css start */
.policy a {
	padding-left: 20px;
	color: #02b159;
}
.footer footer {
	color: #fff;
}
.footer_text {
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
}
.footer {
	background-color: #0c0c0c;
	padding: 15px 0;
}
/*Footer css end */
